.tile-editor-content {
  display: grid;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  overflow-y: hidden;
  overflow-x: auto;
}
.tile-editor-content .left-tab-menu {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: left;
}
.tile-editor-content .tile-editor-center-area {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
}
.tile-editor-content .right-tab-menu {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: right;
}
.tile-editor-center-area {
  display: grid;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  height: 100%;
}
.tile-editor-center-area .top-bar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tile-editor-center-area .left-bar {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.tile-editor-center-area .right-bar {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.tile-editor-center-area .bottom-bar {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
.tile-editor-center-area .render-area {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
.drag-handles-container {
  position: absolute;
}
.drag-handles-container > div {
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
}
.drag-handles-container > div.top-left {
  cursor: nw-resize;
}
.drag-handles-container > div.top-center {
  cursor: ns-resize;
}
.drag-handles-container > div.top-right {
  cursor: ne-resize;
}
.drag-handles-container > div.left-center {
  cursor: ew-resize;
}
.drag-handles-container > div.right-center {
  cursor: ew-resize;
}
.drag-handles-container > div.bottom-left {
  cursor: sw-resize;
}
.drag-handles-container > div.bottom-center {
  cursor: ns-resize;
}
.drag-handles-container > div.bottom-right {
  cursor: se-resize;
}
.world-editor {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);
}
.world-editor-settings-bar {
  margin-bottom: 0.5em;
}
.world-editor-settings-bar > div:nth-child(1) {
  float: left;
}
.world-editor-settings-bar > div:nth-child(2) {
  float: right;
}
.settings-area {
  display: flex;
}
.settings-area div {
  margin-right: 1em;
}
.world-editor-main-area {
  display: flex;
  overflow: auto;
  height: 100%;
}
.world-editor-main-area .left-area {
  overflow: hidden;
  padding: 1em;
  flex: 1;
}
.white-colored {
  color: #fff;
}
.not-important-colored {
  color: #909090;
}
.not-important-bg-colored {
  background-color: #909090;
}
.light-grey-bg-colored {
  background-color: #e9e9e9;
}
.grey-colored {
  color: #d3d3d3;
}
.fg-colored {
  color: #000 !important;
}
.error-colored {
  color: #dd514c;
}
.error-colored-i {
  color: #dd514c !important;
}
.error-bg-colored {
  background-color: #dd514c !important;
}
.warning-colored {
  color: #fad232;
}
.blue-colored {
  color: #1f8dd6;
}
.diff-blue-colored {
  color: #27a3f5;
}
.orange-colored {
  color: #f37b1d;
}
.ok-colored {
  color: #5eb95e;
}
.white-colored {
  color: #fff !important;
}
.ok-bg-colored {
  background-color: #5eb95e !important;
}
.accent-colored {
  color: #2196f3;
}
.accent-colored > i {
  color: #2196f3;
}
.list-item-padding {
  padding: 0.42857143em 0 0.42857143em 0;
}
.link-colored {
  color: #4183c4;
}
.link-colored:hover {
  color: #1e70bf;
  text-decoration: none;
}
select {
  background-color: #fff;
}
.site-user-menu {
  z-index: 10003 !important;
}
.not-text-wrapping {
  white-space: nowrap;
  word-break: break-all;
}
.too-much-text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.v-centered {
  margin-top: auto;
  margin-bottom: auto;
}
.v-centered-i {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.flex-stretch {
  flex: 1 1 auto;
}
.cursor-pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
.related-links {
  display: flex;
  font-size: 1.1em;
}
.related-links > div {
  margin-right: 1em;
}
.related-links > a {
  margin-right: 1em;
}
.flexed {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.flexed-well-spaced {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-evenly;
}
.flex-left-right {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}
.flexed-no-wrap {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}
.flexed-h {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.flexed-i {
  display: flex !important;
  flex-direction: row !important;
  flex-flow: wrap !important;
}
.two-flexed-stretch-left {
  display: flex;
}
.two-flexed-stretch-left > div:nth-child(1) {
  flex: 1 1 auto;
}
.two-flexed-stretch-left > div:nth-child(2) {
  flex: 0 0 auto;
}
.two-flexed-stretch-right {
  display: flex;
}
.two-flexed-stretch-right div:nth-child(1) {
  flex: 0 0 auto;
}
.two-flexed-stretch-right div:nth-child(2) {
  flex: 1 1 auto;
}
.div-disabled {
  opacity: 0.2 !important;
  pointer-events: none;
}
.events-disabled {
  pointer-events: none;
}
.hidden-overflow-i {
  overflow: hidden !important;
}
.fh {
  height: 100%;
}
.fw {
  width: 100%;
}
.mar-null {
  margin: 0 !important;
}
.mar-right {
  margin-right: 1em !important;
}
.mar-right-2x {
  margin-right: 2em !important;
}
.mar-left {
  margin-left: 1em !important;
}
.mar-left-half {
  margin-left: 0.5em !important;
}
.mar-left-neg {
  margin-left: -1em !important;
}
.mar-right-half {
  margin-right: 0.5em !important;
}
.mar-bot {
  margin-bottom: 1em !important;
}
.mar-bot-half {
  margin-bottom: 0.5em !important;
}
.pad-right {
  padding-right: 1em !important;
}
.pad-left-right {
  padding-right: 1em !important;
  padding-left: 1em !important;
}
.pad-left-right-half {
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}
.pad {
  padding-right: 1em !important;
  padding-left: 1em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.collapsed {
  display: none;
}
.default-cursor {
  cursor: auto !important;
}
.inline {
  display: inline-block;
}
.ui.vertical.divider:before,
.ui.vertical.divider:after {
  height: 100% !important;
}
.react-color-picker input {
  padding: 1px !important;
}
.popup .chrome-picker {
  box-shadow: none !important;
  margin: -1em -1em -0.8em -1em;
}
.indicator {
  background-color: rgba(33,150,243,0.1);
}
.vertical-stacked-buttons .button {
  margin-bottom: 0.25em;
}
.clickable {
  opacity: 0.7 !important;
  cursor: pointer !important;
}
.clickable:hover {
  opacity: 1 !important;
}
.clickable:active {
  opacity: 1 !important;
  color: #2196f3;
}
.no-link {
  color: inherit !important;
}
.hoverable-disabled {
  opacity: 0.2 !important;
  cursor: pointer !important;
}
.toggled-colored {
  color: #2196f3;
}
.clickable-toggled {
  opacity: 0.8;
  cursor: pointer;
  color: #2196f3;
}
.toggled-active--color {
  color: #2196f3;
  cursor: auto !important;
  opacity: 1 !important;
}
.toggled-active--color > i {
  color: #2196f3;
}
.toggled-active--color > a {
  color: #2196f3;
}
.toggled-active--color > a:hover {
  color: #2196f3;
}
.hoverable {
  opacity: 0.7 !important;
  cursor: pointer;
}
.hoverable:hover {
  opacity: 1 !important;
  color: #2196f3;
}
.white-colored {
  color: #fff;
}
.not-important-colored {
  color: #909090;
}
.not-important-bg-colored {
  background-color: #909090;
}
.light-grey-bg-colored {
  background-color: #e9e9e9;
}
.grey-colored {
  color: #d3d3d3;
}
.fg-colored {
  color: #000 !important;
}
.error-colored {
  color: #dd514c;
}
.error-colored-i {
  color: #dd514c !important;
}
.error-bg-colored {
  background-color: #dd514c !important;
}
.warning-colored {
  color: #fad232;
}
.blue-colored {
  color: #1f8dd6;
}
.diff-blue-colored {
  color: #27a3f5;
}
.orange-colored {
  color: #f37b1d;
}
.ok-colored {
  color: #5eb95e;
}
.white-colored {
  color: #fff !important;
}
.ok-bg-colored {
  background-color: #5eb95e !important;
}
.accent-colored {
  color: #2196f3;
}
.accent-colored > i {
  color: #2196f3;
}
.list-item-padding {
  padding: 0.42857143em 0 0.42857143em 0;
}
.link-colored {
  color: #4183c4;
}
.link-colored:hover {
  color: #1e70bf;
  text-decoration: none;
}
select {
  background-color: #fff;
}
.site-user-menu {
  z-index: 10003 !important;
}
.not-text-wrapping {
  white-space: nowrap;
  word-break: break-all;
}
.too-much-text-hidden {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}
.v-centered {
  margin-top: auto;
  margin-bottom: auto;
}
.v-centered-i {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.flex-stretch {
  flex: 1 1 auto;
}
.cursor-pointer {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
.related-links {
  display: flex;
  font-size: 1.1em;
}
.related-links > div {
  margin-right: 1em;
}
.related-links > a {
  margin-right: 1em;
}
.flexed {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.flexed-well-spaced {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-evenly;
}
.flex-left-right {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
}
.flexed-no-wrap {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}
.flexed-h {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}
.flexed-i {
  display: flex !important;
  flex-direction: row !important;
  flex-flow: wrap !important;
}
.two-flexed-stretch-left {
  display: flex;
}
.two-flexed-stretch-left > div:nth-child(1) {
  flex: 1 1 auto;
}
.two-flexed-stretch-left > div:nth-child(2) {
  flex: 0 0 auto;
}
.two-flexed-stretch-right {
  display: flex;
}
.two-flexed-stretch-right div:nth-child(1) {
  flex: 0 0 auto;
}
.two-flexed-stretch-right div:nth-child(2) {
  flex: 1 1 auto;
}
.div-disabled {
  opacity: 0.2 !important;
  pointer-events: none;
}
.events-disabled {
  pointer-events: none;
}
.hidden-overflow-i {
  overflow: hidden !important;
}
.fh {
  height: 100%;
}
.fw {
  width: 100%;
}
.mar-null {
  margin: 0 !important;
}
.mar-right {
  margin-right: 1em !important;
}
.mar-right-2x {
  margin-right: 2em !important;
}
.mar-left {
  margin-left: 1em !important;
}
.mar-left-half {
  margin-left: 0.5em !important;
}
.mar-left-neg {
  margin-left: -1em !important;
}
.mar-right-half {
  margin-right: 0.5em !important;
}
.mar-bot {
  margin-bottom: 1em !important;
}
.mar-bot-half {
  margin-bottom: 0.5em !important;
}
.pad-right {
  padding-right: 1em !important;
}
.pad-left-right {
  padding-right: 1em !important;
  padding-left: 1em !important;
}
.pad-left-right-half {
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}
.pad {
  padding-right: 1em !important;
  padding-left: 1em !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.collapsed {
  display: none;
}
.default-cursor {
  cursor: auto !important;
}
.inline {
  display: inline-block;
}
.ui.vertical.divider:before,
.ui.vertical.divider:after {
  height: 100% !important;
}
.react-color-picker input {
  padding: 1px !important;
}
.popup .chrome-picker {
  box-shadow: none !important;
  margin: -1em -1em -0.8em -1em;
}
.indicator {
  background-color: rgba(33,150,243,0.1);
}
.vertical-stacked-buttons .button {
  margin-bottom: 0.25em;
}
body {
  height: calc(100% - 50px);
}
#app-bar {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#app-bar div {
  border-radius: 0;
}
#app-content-wrapper {
  height: 100%;
  margin-top: 50px;
}
.left-tab-menu {
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 657px;
  overflow: visible;
}
.right-tab-menu {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 657px;
  overflow: visible;
}
.right-tab-menu-full-sized {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: calc(100% - 1em);
  overflow: visible;
}
.right-tab-menu-full-sized >div {
  overflow: hidden;
  height: 100%;
}
.property-editor-right {
  width: 350px;
  max-height: 600px;
  height: 600px;
  overflow: auto;
  padding: 0.5em;
}
.property-editor-right-full-sized {
  width: 350px;
  height: 100%;
  overflow: auto;
  padding: 0.5em;
}
.property-editor-left {
  width: 416px;
  height: 600px;
  overflow: auto;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}
.symbol-menu-item {
  padding: 0.5em;
}
.tile-canvas {
  border: 1px solid #c9c9c9;
  user-select: none;
  -webkit-user-select: none;
}
.tile-outline-selected {
  background: rgba(0,0,0,0.08);
}
.tile-outline-line-icon {
  margin: auto;
}
.library-add-div {
  border: 1px dashed #d0d0d0;
  color: #d0d0d0;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
.imgLibDropAreaEffect * {
  pointer-events: none;
}
.library-add-div-drop {
  border: 3px dashed #d0d0d0 !important;
  color: #d0d0d0 !important;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
.img-library-generic-img-div {
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
.img-library-img-wrapper {
  height: 100%;
  padding: 0.5em;
  padding-bottom: 1em;
}
.img-library-img-wrapper > .ui.card {
  width: unset;
  max-width: 300px;
}
.img-library-img-wrapper-inner {
  height: 100%;
  min-width: 150px;
  padding: 5px;
  display: table;
}
.img-library-img {
  height: calc(100px - (5px*2));
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  max-width: 290px;
}
.img-caption {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.padding-inputs {
  display: flex;
  justify-content: space-evenly;
}
.padding-inputs div.ui.input {
  display: block;
  margin: auto;
  width: auto !important;
}
.padding-inputs input {
  width: 70px !important;
}
.tile-library-add-item-wrapper {
  height: 100%;
  padding: 0.5em;
  padding-bottom: 1em;
}
.tile-library-item {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.active-player {
  border-bottom: 2px solid #088;
}
.is-selecting-next-field-cursor {
  cursor: crosshair;
}
.keys {
  white-space: nowrap;
  color: #000;
  background: #eee;
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  padding: 2px 6px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,0.2), 0 0 0 1px #fff inset;
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.2), 0 0 0 1px #fff inset;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2), 0 0 0 1px #fff inset;
  background-color: #fafafa;
  border-color: #ccc #ccc #fff;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 5px;
}
.vertical-centered {
  margin-top: auto;
  margin-bottom: auto;
}
.vertical-stacked-icons i.icon:not(:last-child) {
  margin-bottom: 4px;
}
.inputarea {
  display: none;
}
