<!DOCTYPE html>
<html>
<head>
    <title>Basic Board Game Editor</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="semantic.min.css">
    <!-- styles.css will be injected by HtmlWebpackPlugin (with a cache busting hash) -->
</head>
<body>

<div id="root">
</div>

<script src="ace-builds/src/ace.js"></script>
<script src="ace-builds/src/theme-chrome.js"></script>

<script src="ace-builds/bbgel-mode.js"></script>

<script src="react.js"></script>
<script src="react-dom.js"></script>
<script src="easeljs-0.8.2.combined.js"></script>
<script src="SVGExporter.js"></script>

<!-- app.js will be injected by HtmlWebpackPlugin (with a cache busting hash) -->

</body>
</html>
