<!DOCTYPE html>
<html>
<head>
    <title>Basic Board Game Editor</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../node_modules/semantic-ui-offline/semantic.css">
    <link rel="stylesheet" href="../thirdPartyFiles/fontawesome-free-5.9.0-web/css/all.css">

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>
<body>
<div id="root" style="height: 100%">
</div>


<script src="../node_modules/ace-builds/src/ace.js"></script>
<script src="../node_modules/ace-builds/src/theme-chrome.js"></script>

<script src="../libs/ace-editor/bbgel-mode.js"></script>

<script src="../node_modules/react/dist/react.js"></script>
<script src="../node_modules/react-dom/dist/react-dom.js"></script>
<script src="../node_modules/easeljs/lib/easeljs.js"></script>

<script src="../libs/SVGExporter/SVGExporter.js"></script>

<% for(var i = 0; i < htmlWebpackPlugin.files.js.length;i++) { %>

    <script src="<%= htmlWebpackPlugin.files.js[i] %>"></script>

<% } %>

<script>
  document.fonts.load("12px 'Font Awesome 5 Free'")

  document.fonts.load("bold 12px 'Font Awesome 5 Free'")

</script>

</body>
</html>
