@require "common.styl"

.clickable {
  opacity 0.7 !important
  cursor pointer !important
}

.clickable:hover {
  opacity 1 !important
}

.clickable:active {
  opacity 1 !important
  color $accentColor
}

.no-link {
  color inherit !important
}

.hoverable-disabled {
  opacity 0.2 !important
  cursor pointer !important
}

.toggled-colored {
  color $accentColor
}

.clickable-toggled {
  opacity 0.8
  cursor pointer
  color $accentColor
}

.toggled-active--color {
  color $accentColor
  cursor auto !important
  opacity 1 !important

  > i {
    color $accentColor
  }

  > a {
    color $accentColor
  }

  > a:hover {
    color $accentColor
  }
}

/*normally used for tooltips hover*/
.hoverable {
  opacity 0.7 !important
  cursor pointer
}

.hoverable:hover {
  opacity 1 !important
  color $accentColor
}

// --- printing html ---

.print-content-div {
  display none
}


@media print {


  //see https://davidwalsh.name/css-page-breaks
  //Creating a simple DIV element with the page-break class is how you implement the page break.
  //<div class="page-break"></div>
  div.page-break {
    display block;
    page-break-before always;
    page-break-inside: avoid;
  }

  //see tempPrintDivId js var for div with id
  //we add this class on printing via button press
  body.js-printing {
    .print-content-div {
      //color-adjust economy //e.g. for monokai theme it'S better to print dark text on white background
      //-webkit-print-color-adjust economy

      //also not working for :::box info ! ... ::before color not printed...
      //color-adjust exact
      //-webkit-print-color-adjust exact
      display block
      z-index 9999 !important;
      background-color: white;
      height: 100%;
      width: 100%;
      //position: fixed; //if we use this then the page-break is not working...
      top: 0;
      left: 0;
      margin: 0;
      padding: 0 1em;
      //font-size: 14px;
      //line-height: 18px;
    }

    #app-content-wrapper {
      display none !important
    }

    #app-bar {
      display none !important
    }

    //add a rule [css rule].js-printing for everything that should be hidden when printing
    //.site-header-bar{
    //  display none !important
    //}
  }

}
