$roundedBorderCorner = 8px
$rightMargin = 1em
$clickableMenuItemBackgroundColor = #4a4a4a

$grayBackgroundColor = #f5f5f5
$siteHeaderHeight = 57px
$siteHeaderBarBackgroundColor = white
$siteBackgroundColor = #e9ecee

$siteContentHeaderHeight = 40px
$cardShadowHeight = 2px

$siteContentHeaderBackgroundColor = #dedede
$tableBorderColor = #dcdbdc
$tableBackgroundColor = white
$separatorColor = #d4d4d5

$panelBorderColor = #dadada
$materialTableCaptionLinePadding = 14px
$searchFieldWidth = 200px

$accentColor = #2196F3
$aboutNotImportantColor = #909090
$contentPadding = 2em

$errorColor = #dd514c
$warningColor = #fad232
$greenColor = #5eb95e
$orangeColor = #f37b1d
$blueColor = #1f8dd6
$purpleColor = #8058a5
$white = white

.white-colored {
  color white
}

.not-important-colored {
  color $aboutNotImportantColor
}

.not-important-bg-colored {
  background-color $aboutNotImportantColor
}

.light-grey-bg-colored {
  background-color #e9e9e9
}

.grey-colored {
  color lightgrey
}

.fg-colored {
  color black !important
}

.error-colored {
  color $errorColor
}

.error-colored-i {
  color $errorColor !important
}

.error-bg-colored {
  background-color $errorColor !important
}

/**
this is yellowish because warning like on the console (exclamation mark)
 */
.warning-colored {
  color $warningColor
}

.blue-colored {
  color $blueColor
}

.diff-blue-colored {
  color #27a3f5
}

.orange-colored {
  color $orangeColor
}

.ok-colored {
  color $greenColor
}

.white-colored {
  color white !important
}

.ok-bg-colored {
  background-color $greenColor !important
}

.accent-colored {
  color $accentColor

  > i {
    color $accentColor
  }
}

.list-item-padding {
  padding 0.42857143em 0 0.42857143em 0
}

.link-colored {
  color #4183C4
}

.link-colored:hover {
  color #1e70bf
  text-decoration none
}

select {
  background-color white
}

.site-user-menu {
  z-index 10003 !important //.logger-panel has 100002 and would hide the menu (semantic ui spinner has 10000)
}

.not-text-wrapping {
  white-space nowrap
  word-break break-all
}

.too-much-text-hidden {
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  word-break break-all
}

.v-centered {
  margin-top auto
  margin-bottom auto
}

.v-centered-i {
  margin-top auto !important
  margin-bottom auto !important
}

.flex-stretch {
  flex 1 1 auto
}

.cursor-pointer {
  cursor pointer
}

html, body {
  height 100%
}

.related-links {

  display flex
  font-size 1.1em

  > div {
    margin-right 1em
  }

  > a {
    margin-right 1em
  }
}

.flexed {
  display flex
  flex-direction row
  flex-flow wrap
}

.flexed-well-spaced {
  display flex
  flex-direction row
  flex-flow nowrap
  justify-content space-evenly
}

.flex-left-right {
  display flex
  flex-direction row
  flex-flow nowrap
  justify-content space-between
}

.flexed-no-wrap {
  display flex
  flex-direction row
  flex-flow nowrap
}

.flexed-h {
  display flex
  flex-direction column
  flex-flow column
}

.flexed-i {
  display flex !important
  flex-direction row !important
  flex-flow wrap !important
}

.two-flexed-stretch-left {
  display flex

  > div:nth-child(1) {
    //display flex
    flex 1 1 auto
  }

  > div:nth-child(2) {
    //display flex
    flex 0 0 auto
  }
}

.two-flexed-stretch-right {
  display flex

  div:nth-child(1) {
    //display flex
    flex 0 0 auto
  }

  div:nth-child(2) {
    //display flex
    flex 1 1 auto
  }
}

.div-disabled {
  opacity 0.2 !important
  pointer-events none
}

.events-disabled {
  pointer-events none
}

.hidden-overflow-i {
  overflow hidden !important
}

.fh {
  height 100%
}

.fw {
  width 100%
}

.mar-null {
  margin 0 !important
}

.mar-top {
  margin-top: $rightMargin !important
}

.mar-right {
  margin-right $rightMargin !important
}

.mar-right-2x {
  margin-right ($rightMargin * 2) !important
}

.mar-left {
  margin-left $rightMargin !important
}

.mar-left-half {
  margin-left ($rightMargin / 2) !important
}

.mar-left-neg {
  margin-left -($rightMargin) !important
}

.mar-right-half {
  margin-right ($rightMargin/ 2) !important
}

.mar-left-2x {
  margin-left ($rightMargin * 2) !important
}

.mar-bot {
  margin-bottom $rightMargin !important
}

.mar-bot-half {
  margin-bottom ($rightMargin/ 2) !important
}

.pad-right {
  padding-right $rightMargin !important
}

.pad-left-right {
  padding-right $rightMargin !important
  padding-left $rightMargin !important
}

.pad-left-right-half {
  padding-right ($rightMargin / 2) !important
  padding-left ($rightMargin / 2) !important
}

.pad {
  padding-right $rightMargin !important
  padding-left $rightMargin !important
  padding-top $rightMargin !important
  padding-bottom $rightMargin !important
}

.collapsed {
  display none
}

.default-cursor {
  cursor auto !important
}

.inline {
  display inline-block
}

/* override semantic ui divider ... because we don't need text
 */
.ui.vertical.divider:before, .ui.vertical.divider:after {
  height: 100% !important
}


// color picker fixes
.react-color-picker input {
  padding 1px !important
}

.popup .chrome-picker {
  box-shadow none !important
  margin -1em -1em -0.8em -1em
}

.indicator {
  background-color alpha($accentColor, 0.1)
}


.vertical-stacked-buttons {

  .button {
    margin-bottom 0.25em
  }

}

//--- markdown printing
#root {

  //make it more special

  .markdown-body {

    padding 0.5em

    //from node_modules/github-markdown-css
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Font Awesome 5 Free";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    //stolen from vue js guide ;)
    .box {
      position relative
      border-left 4px solid
      padding 12px 24px 12px 30px
      margin-bottom 10px //from normal p

      &:not(.no-indicator):before {
        content: attr(data-content)
        padding: 1px 0 0 1px;
        position absolute
        top 14px
        left -12px
        border-radius 100%
        height 20px
        min-width 20px
        background-color: var(--box-indicator-color)
        text-align center
        color white
        font-weight bold
      }

      p {
        margin 0 !important
      }
    }

    .markdown-fenced-code-block-wrapper {
      pre {
        border 1px solid #d6d6d6
        background-color transparent !important
      }
    }


    .markdown-inline-code-tag-wrapper {
      display inline-block

      code {
        border 1px solid #d6d6d6
        background-color transparent !important
      }
    }

  }
}


